body {
    font-family: helvetica, sans-serif;
    font-size: 15px;
}

.fake-link {
    color: blue;
    cursor: pointer;
}

.fake-link:hover {
    text-decoration: underline;
}

input[type="submit"] {
    cursor: pointer;
}